* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: #0f1b45;
  background-image: 
  linear-gradient(0.7turn, rgb(15, 27, 69) 0%, rgb(15, 27, 69) 60%,rgba(177, 178, 181, 0) 100%), 
  url(/assets/BG.jpg);
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  width: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2.5rem;
  color: wheat;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(0, 6, 24, 0.8);
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  /* max-width: 1000px; */
}

.header-portfolios {
  justify-content: space-between;
  font-size: 1.3rem;
  padding-left: 4rem;
}

.header-container a {
  text-decoration: none;
  color: wheat;
  margin: 0 1rem;
}

.header-container li.active {
  text-decoration: underline 2px;
}

.header-container a:hover {
  font-size: calc(font-size + 1px);
  color: #e0e0e0;
}

.header-menu,
.mobile-menu {
  display: none;
}

@media screen and (max-width: 830px) {
  .header-portfolios,
  .header-about {
    display: none;
  }

  .header-menu {
    display: block;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    height: fit-content;
    padding: 0;
  }

  .mobile-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgb(0, 6, 24, 1);
    padding-top: 3rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    height: 100vh;
  }

  .mobile-menu li {
    list-style-type: none;
    padding: 1rem;
  }

  .mobile-menu a {
    text-decoration: none;
    color: wheat;
    margin: 1rem;
    font-size: 2rem;
  }
}